<div class="">
  <h6>Title: {{bid.title}}</h6>
  <h6>Bid Value: ${{bid.payment}}</h6>
  <h6>Location: {{bid.location}}</h6>
  <h6>Description: {{bid.description}}</h6>
  <h6>Start Date: {{bid.jobStart}}</h6>
  <h6>End Date: {{bid.jobEnd}}</h6>
  {{#if bid.providing}}
    <h6>I am providing this service</h6>
  {{else}}
      <h6>I am seeking this service</h6>
  {{/if}}
  <hr>
</div>
