<h5>Title: {{bid.title}}</h5>
<h5>Bid Value: ${{bid.payment}}</h5>
<h5>Location: {{bid.location}}</h5>
<h5>Description: {{bid.description}}</h5>
<h5>Start Date: {{bid.jobStart}}</h5>
<h5>End Date: {{bid.jobEnd}}</h5>
<hr>
