{{#if isMe}}
{{new-bid postBid='postBid' bidder=bidder}}
{{update-profile bidder=bidder updateProfile="updateProfile"}}
<div class="hero profile-hero">
  <section class="module parallax parallax-2">
    <div class="container hero-text-profile">
      <div class='page-header'>
        <h4>{{bidder.firstName}} {{bidder.lastName}}'s Profile</h4>

        <h5>{{bidder.hood}}</h5>
        <h5>Phone  - <i class="material-icons">contact_phone</i> -  {{bidder.phone}}</h5>
        <h5>unique uid: {{bidder.user.uid}}</h5>
      </div>
    </div>
  </section>
</div>
<div class='container bidder-bids'>
  <h4>{{bidder.firstName}}'s Bid History</h4>
  {{#each sortedBids as |bid|}}
  {{bid-tile bid=bid}}
  {{/each}}
</div>

{{else}}
{{new-message bidder=bidder sendMessage='sendMessage' session=session}}
<div class="profile-buttons">
  <a href='/' class='btn waves-effect waves-white'>back home</a>
  <a href='all-bids' class='btn waves-effect waves-white'>view all bids</a>

</div>

{{/if}}
