
<div class="hero profile-hero">
  <section class="module parallax parallax-2">
    <div class="container hero-text-profile center">
      <h1>Welcome {{bidder.firstName}} {{bidder.lastName}}</h1>
      <h2>Post a Bid</h2>
    </div>
  </section>
</div>

<div class='page-header'>
  <h4>{{bidder.firstName}} {{bidder.lastName}}'s Profile</h4>
  <br>
  <h5>Phone: {{bidder.phone}}</h5>
  <h5>Twitter Id: {{bidder.user.uid}}</h5>
  <h4>{{bidder.firstName}}'s Bid History</h4>
  {{#each sortedBids as |bid|}}
  {{bid-tile bid=bid}}
  {{/each}}
</div>
