{{#if isMe}}
{{update-profile bidder=bidder updateProfile="updateProfile"}}
{{new-bid postBid='postBid' bidder=model}}
<div class="hero profile-hero">
  <section class="module parallax parallax-2">
    <div class="container hero-text-profile center">
      <div class='page-header'>
        <h4>{{bidder.firstName}} {{bidder.lastName}}'s Profile</h4>

        <h5>{{bidder.hood}}</h5>
        <h5>Phone: {{bidder.phone}}</h5>
        <h5>unique uid: {{bidder.user.uid}}</h5>
      </div>
    </div>
  </section>
</div>

<div class='page-header'>
  <h4>{{bidder.firstName}} {{bidder.lastName}}'s Profile</h4>
  <img src="{{bidder.profileImageURL}}" alt="user profile pic" />
  <br>
  {{bidder.hood}}
  <h5>Phone: {{bidder.phone}}</h5>
  <h5>unique uid: {{bidder.user.uid}}</h5>
  <h4>{{bidder.firstName}}'s Bid History</h4>
  {{#each sortedBids as |bid|}}
  {{bid-tile bid=bid}}
  {{/each}}
</div>
{{else}}
hi leave a message
{{/if}}
