
  <div class='page-header'>
    <h2>{{bidder.firstName}} {{bidder.lastName}}'s Profile</h2>
    <br>
    <h5>Phone: {{bidder.phone}}</h5>
    <h5>Email: {{bidder.email}}</h5>
    <h4>{{bidder.firstName}}'s Bid History</h4>
    {{#each bidder.bids as |bid|}}
      {{#link-to 'bid' bid.id}}{{bid-tile bid=bid}}{{/link-to}}
    {{/each}}
  </div>
