{{#if showProfile}}
  <div class='page-header'>
    currently logged in: {{bidder.firstName}} {{bidder.lastName}}
    <br>phone: {{bidder.phone}}
    {{#each bidder.bids as |bid|}}
      {{bid-tile bid=bid}}
    {{/each}}
  </div>
{{else}}
{{/if}}
{{md-btn action='showProfile' text='show profile'}}
