{{#if showProfile}}
  <div class='page-header'>
    currently logged in: {{bidder.firstName}} {{bidder.lastName}}
    <br>phone: {{bidder.phone}}
    {{#each bidder.bids as bid}}
      {{bid.title}}<br>

    {{/each}}
  </div>
{{else}}
{{/if}}
{{md-btn action='showProfile' text='show profile'}}
