<div class="navbar-fixed">
{{#md-navbar name='BIDDER'}}

{{#unless session.isAuthenticated}}
<div class="nav-chips">
  <li>
    <div class="chip">
      <a href='#' {{action 'loginFacebook'}}>
        <img src="/img/bid-icon-new.png" alt="facebook" />
        Sign in with Facebook
      </a>
    </div>
  </li>
  <li>
    <div class="chip">
      <a href='#' {{action 'loginTwitter'}}>
        <img src="/img/bid-icon-new.png" alt="twitter" />
        Sign in with Twitter
      </a>
    </div>
  </li>
</div>

{{else}}
  <!-- <li><a href="bidder">PROFILE</a></li> -->
  <li><a href="all-bids">VIEW ALL BIDS</a></li>
  <li>
    <div class="chip">
      {{#if hasFacebook}}
      <a href='http://facebook.com/{{session.currentUser.username}}' target='_blank' class="profile">
        <img src='{{session.currentUser.profileImageURL}}' height='50px' width='50px' alt='contact photo'/>
        {{session.currentUser.displayName}}
      </a>
      {{/if}}
      {{#if hasTwitter}}
      <a href='http://twitter.com/{{session.currentUser.username}}' target='_blank' class="profile">
        <img src='{{session.currentUser.profileImageURL}}' height='50px' width='50px' alt='contact photo'/>
        {{session.currentUser.displayName}}
      </a>
      {{else}}
      {{/if}}
    </div>
  </li>
  <li><a href="#" {{action 'logout' }}>LOGOUT</a></li>
{{/unless}}
{{/md-navbar}}
</div>
