

<div class="new-profile-form-bg">
<h4>Let's make you a Bidder Profile</h4>
{{session.currentUser.email}}
<div class="outer-form-bg">
  <div class="form-style">
    <form>
      {{md-input value=firstName label="First Name" class="col s4 validate=true"}}
      {{md-input value=lastName label="Last Name" class="col s4 validate=true"}}
      {{md-input value=phone label="Contact Number" class="col s4 validate=true"}}
      {{md-input value=hood label=bidder.hood class="col s4 validate=true" label="Neighborhood"}}
      {{md-input value=profileImgURL label=bidder.hood class="col s4 validate=true" label="Profile Image URL"}}
      {{md-btn text="Save" action='saveProfile' buttonType="large"}}
    </form>
  </div>
</div>

</div>
