

<div class="form-bg">

<h4>Let's make you a Bidder Profile</h4>
{{session.currentUser.email}}

<div class="outer-form-bg">

  <div class="form-style">
    <form>
      {{md-input value=firstName label="First Name" class="col s4 validate=true"}}
      {{md-input value=lastName label="Last Name" class="col s4 validate=true"}}
      {{md-input value=phone label="Contact Number" class="col s4 validate=true"}}
      {{md-btn text="Save" action='saveProfile' buttonType="large"}}
    </form>
  </div>
</div>

</div>

<footer class="footer-display footer-lower">
  <p class="foot-padding">Bidder was created at <span>Epicodus</span> by Jackson Cafazzo, Jordan Meier, Daren Schaad, Lindsey Raffa, Brooke Hurford, Jessica Fix, and Taylor Pokoj.</p>
  <p>Bidder | All Rights Reserved | Copyright 2016</p>
</footer>
