<form>
  {{#if categoryShow}}
  Categories:
    {{#md-radios
      selection=category
      optionValuePath='id'
      optionLabelPath='text'}}
      <p>{{md-radio value='general' name="General"}}</p>
      <p>{{md-radio value='yard' name="Yard/Garden"}}</p>
    {{/md-radios}}
  {{else}}
    {{md-btn action='showCategories' text='Categories'}}
  {{/if}}
  <br>
  <br>
  Service Details:
  {{#md-radios
    selection=providing
    optionValuePath='id'
    optionLabelPath='text'}}
    <p>{{md-radio value=true name="I'm Providing a Service"}}</p>
    <p>{{md-radio value=false name="I'm Seeking a Service "}}</p>
  {{/md-radios}}
<br>
  {{md-input value=title label="Bid Title" validate="true"}}
  {{md-input value=payment label="Payment offer" validate="true" type='number'}}
  {{md-textarea value=description label="Description" validate="true"}}
  Ideal Job Start Date:
  {{md-input value=jobStart type='date' validate="true"}}
  Ideal Job End Date:
  {{md-input value=jobEnd type='date' validate="true"}}
  {{md-btn action='postBid' text='post bid'}}
</form>
