{{#if showUpdateProfile}}
<div class="row">
  <div class="col m2 s12 profile-btn">
    {{md-btn action="showUpdateProfile" text="hide form"}}
    <a class='btn waves waves-white' {{action 'updateProfile' bidder}}>Update</a>
  </div>
  <div class="col m10 s12">
    <div class="update-form">
      <div class="innerForm row">
        <form>
          {{md-input value=firstName label=bidder.firstName class="col m5 l4 s10 validate=true"}}
          {{md-input value=lastName label=bidder.lastName class="col m5 l4 s10 validate=true"}}
          {{md-input value=phone label=bidder.phone class="col m5 l4 s10 validate=true"}}
          {{md-input value=hood label=bidder.hood class="col m5 l4 s12 validate=true" label="Neighborhood"}}
          {{md-input value=profileImgURL label=bidder.profileImgURL class="col m10 l4 s12 validate=true" label="Profile Image URL"}}
        </form>
      </div>
    </div>
  </div>
</div>

{{else}}
{{md-btn action="showUpdateProfile" text="update profile"}}

{{/if}}
