{{#if showUpdateProfile}}
<div class="update-form">
  <div class="innerForm">

    <form>
      {{md-input value=firstName label=bidder.firstName class="col s4 validate=true"}}
      {{md-input value=lastName label=bidder.lastName class="col s4 validate=true"}}
      {{md-input value=phone label=bidder.phone class="col s4 validate=true" type="number"}}
      {{md-input value=hood label=bidder.hood class="col s4 validate=true" label="Neighborhood"}}
      {{md-input value=profileImgURL label=bidder.hood class="col s4 validate=true" label="Profile Image URL"}}
      <a class='btn' {{action 'updateProfile' bidder}}>Update</a>
    </form>
  </div>
</div>
{{md-btn action="showUpdateProfile" text="hide update profile"}}
{{else}}
{{md-btn action="showUpdateProfile" text="show update profile"}}

{{/if}}
