{{#if session.isAuthenticated}}

  <ul>
    {{#each model.bidder as |bidder|}}
      {{bidder.firstName}}

    {{/each}}
  </ul>

  <div class="row s12 hero-text">
    <h2>Welcome to Bidder</h2>
  </div>
  {{md-parallax image="/img/laundry-bg.png" class="parallax-img1"}}
  <div class="row container">
    <div class="col m12 s12">
      <h3>How it Works</h3>
    </div>
    <div class="col m4 s12">
      <i class="medium material-icons">mode_edit</i>
      <p>Bidders post odd jobs and what they are willing to pay.</p>
    </div>
    <div class="col m4 s12">
      <i class="medium material-icons">thumb_up</i>
      <p>Jobbers let Bidders know they are interested in offering their services.</p>
    </div>
    <div class="col m4 s12">
      <i class="medium material-icons">vpn_key</i>
      <p>Bidders contact interested jobbers to get the job done!</p>
    </div>
  </div>
  {{md-parallax image="/img/gardening-bg.png" class="parallax-img2"}}
    <div class="section grey lighten-2">
      <div class="row setWidth">
        <div class="col s6">
          <div class="imageLink1">
            <img src="/img/post-a-bid.png" alt="" />
          </div>
        </div>
        <div class="col s6">
          <div class="imageLink2">
            <img src="/img/offer-services-blue.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    {{md-parallax image="/img/cleaning-bg.png" class="parallax-img2"}}
      <div class="row setWidth">
        <div class="col s6">
          <div class="imageLink1">
            <img src="/img/post-a-bid.png" alt="" />
          </div>
        </div>
        <div class="col s6">
          <div class="imageLink2">
            <img src="/img/offer-services-blue.png" alt="" />
          </div>
        </div>
      </div>
      {{md-parallax image="/img/techhelp-bg.png" class="parallax-img2"}}
  <div class="row responsive-sm">

  </div>
  <hr>
  <footer>
    
  </footer>

  <!-- if not authenticated -->
  {{else}}
  <div class="row s12 hero-text">
    <h2>Welcome to Bidder</h2>
  </div>
  {{md-parallax image="/img/laundry-bg.png" class="parallax-img1"}}
    <div class="section grey lighten-2">
        <div class="row container">
          <div class="col s12">
            <h3>How it Works</h3>
          </div>
            <div class="col s4">
              <i class="medium material-icons">mode_edit</i>
              <p>Bidders post odd jobs and what they are willing to pay.</p>
            </div>
            <div class="col s4">
              <i class="medium material-icons">thumb_up</i>
                <p>Jobbers let Bidders know they are interested in offering their services.</p>
            </div>
            <div class="col s4">
              <i class="medium material-icons">vpn_key</i>
                <p>Bidders contact interested jobbers to get the job done!</p>
            </div>
        </div>
    </div>

  {{md-parallax image="/img/cleaning-bg.png" class="parallax-img1"}}
    <div class="section grey lighten-2">
        <div class="row container">
          <div class="col s12">
            <h3>How it Works</h3>
          </div>
            <div class="col s4">
              <i class="medium material-icons">mode_edit</i>
              <p>Bidders post odd jobs and what they are willing to pay.</p>
            </div>
            <div class="col s4">
              <i class="medium material-icons">thumb_up</i>
                <p>Jobbers let Bidders know they are interested in offering their services.</p>
            </div>
            <div class="col s4">
              <i class="medium material-icons">vpn_key</i>
                <p>Bidders contact interested jobbers to get the job done!</p>
            </div>
        </div>
    </div>
  {{md-parallax image="/img/gardening-bg.png" class="parallax-img2"}}

{{/if}}
