{{#if session.isAuthenticated}}
  Welcome, {{session.currentUser.username}}
  <br>
  logged in user:
  {{#each model.user as |user|}}
    {{user.uid}}
    <img src="{{user.avatar}}" alt="user pic" />
  {{/each}}
  <br>
  has these bidder profiles:
  <ul>
    {{#each model.bidder as |bidder|}}
    <li>{{bidder-profile bidder=bidder}}</li>
    {{/each}}
  </ul>

  {{model.bidder.firstName}}
  {{new-profile saveProfile='saveProfile'}}
  {{bid-map }}


  {{else}}
  <!-- <h4>Welcome to Bidder!</h4> -->

<div class="hero-image">
  <div class="hero-heading">
    <h2>Welcome to Bidder</h2>
    <h4>Post a bid, post a job, and connect with people in your community!</h4>
  </div>
</div>
  <div class="row info-row">
    <div class="col s4">
      <h3>dlksdkfsdjfsadf</h3>
    </div>

    <div class="col s4">
      <h3>dlksdkfsdjfsadf</h3>
    </div>

    <div class="col s4">
      <h3>dlksdkfsdjfsadf</h3>
    </div>

  </div>




  <!-- {{md-parallax image="assets/img/gardening-bg.png"}}
  <div class="section grey lighten-2">
    <div class="row container inner-parallax">
      <h4>Hello Parallax</h4>
      <p>My really amazing content goes here...</p>
    </div>
  </div>
  {{md-parallax image="assets/img/cleaning-bg.png"}} -->
{{/if}}
