{{#if session.isAuthenticated}}
  <!-- <ul>
    {{#each model.bidder as |bidder|}}
      Howdy {{bidder.firstName}}
    {{/each}}
  </ul> -->
<div class="hero">
  <section class="module parallax parallax-1">
    <div class="container hero-text center">
      <h2>Welcome to Bidder</h2>

      <h5>Thanks for authorizing!</h5>
      <h4>Now...I bet you have things you need done.</h4>

      <h3>We can help you get the word out!</h3>
    </div>
  </section>
</div>




<!-- <div class="row s12 container hero-text">

</div> -->
{{md-parallax image="/img/gardening-bg.png" class="parallax-img2"}}
  <div class="row container">
    <div class="col m12 s12">
      <h3>How it Works</h3>
    </div>
    <div class="col m4 s12">
      <i class="medium material-icons">mode_edit</i>
      <p>Bidders post odd jobs and what they are willing to pay.</p>
    </div>
    <div class="col m4 s12">
      <i class="medium material-icons">thumb_up</i>
      <p>Jobbers let Bidders know they are interested in offering their services.</p>
    </div>
    <div class="col m4 s12">
      <i class="medium material-icons">vpn_key</i>
      <p>Bidders contact interested jobbers to get the job done!</p>
    </div>
  </div>
    <div class="section grey lighten-2">
      <div class="row setWidth">
        <div class="col s6">
          <div class="imageLink1">
            <img src="/img/post-a-bid.png" alt="" />
          </div>
        </div>
        <div class="col s6">
          <div class="imageLink2">
            <img src="/img/offer-services-blue.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    {{md-parallax image="/img/cleaning-bg.png" class="parallax-img2"}}
      <div class="row setWidth">
        <div class="col s6">
          <div class="imageLink1">
            <img src="/img/post-a-bid.png" alt="" />
          </div>
        </div>
        <div class="col s6">
          <div class="imageLink2">
            <img src="/img/offer-services-blue.png" alt="" />
          </div>
        </div>
      </div>
      {{md-parallax image="/img/techhelp-bg.png" class="parallax-img2"}}
  <div class="row responsive-sm">

  </div>
  <hr>
  <footer>

  </footer>



  {{else}}
  <!-- if session is not authenticated -->
  <div class="hero">
    <section class="module parallax parallax-1">
      <div class="container hero-text center">
        <h2>Welcome to Bidder</h2>
      </div>
    </section>
  </div>
  <div class="section grey lighten-2">
    <div class="row container">
      <div class="col s12">
        <h3>How it Works</h3>
      </div>
      <div class="col s4">
        <i class="medium material-icons">mode_edit</i>
        <p>Bidders post odd jobs and what they are willing to pay.</p>
      </div>
      <div class="col s4">
        <i class="medium material-icons">thumb_up</i>
        <p>Jobbers let Bidders know they are interested in offering their services.</p>
      </div>
      <div class="col s4">
        <i class="medium material-icons">vpn_key</i>
        <p>Bidders contact interested jobbers to get the job done!</p>
      </div>
    </div>
  </div>
  {{md-parallax image="/img/techhelp-bg.png" class="parallax-img2"}}
  <div class="section grey lighten-2">
    <div class="row container">
      <div class="col s12">
        <h3>Other Content</h3>
      </div>
      <div class="col s4">
        <i class="medium material-icons">mode_edit</i>
        <p>this would be a good place for more content</p>
      </div>
      <div class="col s4">
        <i class="medium material-icons">thumb_up</i>
        <p>promote jobbers on a job well done</p>
      </div>
      <div class="col s4">
        <i class="medium material-icons">vpn_key</i>
        <p>make pancakes</p>
      </div>
    </div>
  </div>
  {{md-parallax image="/img/cleaning-bg.png" class="parallax-img1"}}





{{/if}}
