<div class='page-header'>
    <h5>Welcome, you are authenticated!</h5>
</div>
<div class='panel panel-default'>
    <div class='panel-heading'>{{session.currentUser.email}}</div>
    <div class='panel-body'>
        <img src='{{session.currentUser.profileImageURL}}' />
    </div>
</div>
Hey there! Your name is: {{model.firstName}} {{model.lastName}}
Your email is {{model.email}}
and your phone is {{model.phone}}
