<div class='page-header'>
  currently logged in: {{model.firstName}} {{model.lastName}}
  <br>{{session.currentUser.email}} -- if i'm blank this bad
  <br>{{model.phone}}
  <img src='{{session.currentUser.profileImageURL}}' />
</div>
<div class='panel panel-default'>
    <div class='panel-heading'><h5>Create a bid, yo</h5></div>
    {{outlet}}
    <div class='panel-body'>
      {{bid-map }}
    </div>
</div>
