<div class="navbar-fixed">  
{{#md-navbar name='BIDDER'}}
  {{#unless session.isAuthenticated}}
  <li>
    <a href="#" {{action 'login' }}>login</a>
  </li>
  {{else}}
  {{#each model.bidder as |bidder|}}
  {{#link-to 'bidder' bidder.id tagName='li' class='topLink'}}
  <li><a href="#" {{action 'logout' }}>logout</a></li>
  <li>
    <div class="chip">
      <a href='http://twitter.com/{{session.currentUser.username}}' target='_blank' class="profile">
        <img src='{{session.currentUser.profileImageURL}}' height='50px' width='50px' alt='contact photo'/>
        {{session.currentUser.username}}
      </a>
    </div>
  </li>
  <li><a href="#">Profile</a></li>
  {{/link-to}}
  {{/each}}
{{/unless}}
{{/md-navbar}}
</div>
