<div class="navbar-fixed">
{{#md-navbar name='BIDDER'}}

{{#unless session.isAuthenticated}}
<li>
  <a href="sign-up">sign up with an email address</a>
</li>
  <li>
    <a href="sign-in">sign in with an email address</a>
  </li>
  <li>
    <a href='#' {{action 'loginFacebook'}}>
      <img src='/img/facebooklogin.png' alt='sign in facebook'/>
    </a>
  </li>
  <li>
    <a href='#' {{action 'loginTwitter'}}>
      <img src='https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png' alt='sign in twitter'/>
    </a>
  </li>

{{else}}
  <!-- <li><a href="bidder">PROFILE</a></li> -->
  <li><a href="all-bids">VIEW ALL BIDS</a></li>
  <li>
    <div class="chip">
      <a href='http://facebook.com/{{session.currentUser.username}}' target='_blank' class="profile">
        <img src='{{session.currentUser.profileImageURL}}' height='50px' width='50px' alt='contact photo'/>
        {{session.currentUser.displayName}}
      </a>
    </div>
  </li>
  <li><a href="#" {{action 'logout' }}>LOGOUT</a></li>
{{/unless}}
{{/md-navbar}}
</div>
